<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" href="favicon.ico" type="image/x-icon" />
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/styles.css">
            <title>GymManager</title>
     {% endblock %}
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>
        {% block content %}{% endblock %}

    </body>
</html>
