{% extends "layout.njk" %}

{% block content%}

<form class="card" method="POST" action="/instructors">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat"></section>
    <section class="details">

        <h3>Novo Professor</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                type="url"
                name="avatar_url"
                placeholder="http://">
            </div>
        </div>


        <div class="item">
            <div>Intrutor</div>
            <div>
                <input 
                type="text"
                name="name"
                placeholder="Nome do Instrutor">
            </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input
                 type="date"
                 name="birth">
            </div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <input type="text"
                 name="services"
                 placeholder="Separe os serviços por vírgula">
            </div>
        </div>

        <div class="item">
            <div>Gênero</div>
            <div>
                <span><input type="radio"
                 name="gender"
                 value="M" checked>Masculino</span>

                 <span><input type="radio"
                 name="gender"
                 value="F">Feminino</span>
                
            </div>
        </div>

        <button type="submit">Salvar</button>

    </section>
</form>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --color-rocket: #7159c1;
    --secondary-color: #f7df1e;
}

body {
    background-color: var(--color-rocket);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    position: relative;
}

.links a.active {
    font-family: 'Oswald', sans-serif;
    color: var(--color-rocket);;
}

.links a:hover {
    text-decoration: underline;
    color: var(--color-rocket);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a::hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* CARD */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    /* Grid dividimos ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Sombra */
    box-shadow: 0px 2px 6px 20px rgb(0, 0, 0, 0.2); 

    animation: up 300ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transition: translateY(15px);
    }

    to {
        opacity: 1;
    }
}


.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-rocket);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;

}

</style>
{% endblock %}